@import "../globals.scss";

#headerBg {
    background-color: $color1;
    background-image: linear-gradient(
        225deg,
        $color1 0%,
        $color2 50%,
        $color3 100%
    );

    height: 100vh;
    text-align: left;
    display: flex;
    align-items: center;
}

#headerBg span {
    font-size: 2em;
    font-weight: bold;
}

#t1,
#t2,
#t4 {
    color: white;
}

#t1,
#t4 {
    margin-left: 1.5rem;
}

#t1 {
    animation: fadeIn 1s;
}
#t2 {
    animation: fadeIn 3s;
}

#t3 {
    animation: fadeIn 3s;
    color: #ecf759f8;
}
#t4 {
    animation: fadeIn 6s;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    60% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
