@import "../globals.scss";

#headerBg {
    background-color: $color1;
    background-image: linear-gradient(
        225deg,
        $color1 0%,
        $color2 50%,
        $color3 100%
    );

    height: 100vh;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

#headerBg span {
    font-size: 2em;
    font-weight: bold;
}

#t1,
#t2,
#t4 {
    color: white;
}

#t1 {
    animation: fadeIn 1s;
}
#t2 {
    animation: fadeIn 3s;
}

#t3 {
    animation: fadeIn 3s;
    color: $color4;
}
#t4 {
    animation: fadeIn 5s;
}
#arrow {
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}
#arrow span {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-bottom: 0.3rem solid white;
    border-right: 0.3rem solid white;
    transform: rotate(45deg);
    opacity: 0;
    animation: fadeIn 5s ease-in, scroll 2s infinite;
}
#arrow span:nth-child(1) {
    animation-delay: 5s;
}
#arrow span:nth-child(2) {
    animation-delay: 5.2s;
}
#arrow span:nth-child(3) {
    animation-delay: 5.4s;
}
@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-0.8rem, -0.8rem);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(0.8rem, 0.8rem);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
