@import "../globals.scss";

$gradient: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
);

#contactContainer {
    background-color: $bgColor3;
    height: 30rem;
    margin-top: -0.1rem;
}
#linksTitle,
#linksText {
    text-align: justify;
    font-family: $font1;
}
#linksTitle {
    margin-left: 1rem;
    background-image: $gradient;
    background-clip: text;
    color: $transparent;
    font-size: $titleFontSize;
    font-weight: bold;
    padding-top: 2rem;
    margin-bottom: 2rem;
}
#linksText div {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
    width: 90%;
    color: $fontColor1;
}
#linksText {
    font-size: $textFontSize;
    font-weight: 300;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #linksTitle {
        padding-left: 2rem;
    }
    #linksText {
        padding-left: 2rem;
        font-size: $textFontSize + 0.2;
        line-height: 2rem;
        font-weight: 300;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    #contactContainer {
        display: flex;
        justify-content: center;
        background-color: $bgColor4;
        height: 40rem;
    }
    #links {
        width: 60rem;
        background-color: $bgColor3;
        border: solid 0.1rem $bgColor1;
        font-size: $textFontSize;
        line-height: 3rem;
        margin-bottom: 8rem;
    }
}
