@import "../globals.scss";

#aboutContainer {
    background-color: $bgColor4;
    display: flex;
    flex-direction: column;
    height: 60rem;
}
#aboutTitle,
#techsTitle {
    font-size: $titleFontSize;
    margin: 2rem 0 2rem 0;
    text-align: justify;
    background-image: $gradient;
    background-clip: text;
    color: $transparent;
    font-weight: bold;
    font-family: $font1;
}

#techsTitle,
#aboutTitle {
    margin-left: 1rem;
}
#aboutText {
    width: 90%;
    margin-left: 1.2rem;
    font-size: $textFontSize;
    font-weight: 300;
    line-height: 1.8rem;
}
#about {
    width: 100%;
    color: $fontColor1;
    font-family: $font1;
    text-align: justify;
}
#techsGridContainer {
    display: flex;
    justify-content: center;
}
#techsGrid {
    display: grid;
    padding-top: 1rem;
    grid-template-rows: 6rem 6rem 6rem 6rem;
    grid-template-columns: 10rem 10rem;
    row-gap: 2rem;
    column-gap: 1.2rem;
}
#techsGrid a {
    border-width: 0.15rem;
    border-style: solid;
    background-color: $bgColor1;
    display: block;
    text-align: center;
    justify-content: center;
    color: rgb(204, 204, 204);
    font-size: 0.8em;
    border-image: $gradient2;
    filter: brightness(90%);
    text-decoration: none;
}

#techsGrid a img {
    object-fit: contain;
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #techsTitle,
    #aboutTitle {
        margin-left: 3rem;
    }
    #aboutText {
        margin-left: 3rem;
        font-size: $textFontSize + 0.2;
        line-height: 2rem;
        font-weight: 300;
    }
    #techsGrid {
        column-gap: 5rem;
        row-gap: 2.5rem;
        grid-template-rows: 6rem 6rem 6rem 6rem;
        grid-template-columns: 12rem 12rem;
        font-size: 1.1em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    #aboutContainer {
        display: grid;
        grid-template-columns: 35rem 35rem;
        column-gap: 6rem;
        justify-content: center;
        height: 57rem;
    }
    #about,
    #techs {
        margin-top: 3rem;
        padding-top: 2rem;
        background-color: $bgColor3;
        padding-bottom: 3rem;
        height: 45rem;
        border: solid 0.1rem $bgColor1;
    }
    #aboutTitle,
    #techsTitle {
        font-size: $titleFontSize + 0.5;
        margin-left: 2rem;
    }
    #aboutText {
        font-size: $textFontSize + 0.4;
        width: 90%;
        line-height: 3rem;
        margin-left: 2rem;
    }
    #techsGrid {
        grid-template-rows: 7rem 7rem 7rem 7rem;
        grid-template-columns: 12rem 12rem;
        row-gap: 2rem;
        column-gap: 1.2rem;
    }
    #techsGrid a {
        padding-top: 0.3rem;
        border-image: $gradientWhite;
        filter: brightness(50%);
    }
    #techsGrid a:visited,
    #techsGrid a:link,
    #techsGrid a:active {
        text-decoration: none;
    }
    #techsGrid a:hover {
        border-image: $gradient2;
        transition: 0.2s;
        filter: brightness(100%);
    }
}
