@import "../globals.scss";
$gridBorderRadius: 0.2rem;
$gradient: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
);
$gradient2: linear-gradient(90deg, rgba(63, 94, 251, 1), rgba(252, 70, 107, 1))
    1;
$gradientWhite: linear-gradient(90deg, $bgColor2, $bgColor2) 1;

#sourceCodeLink {
    color: $color4;
}

#aboutContainer {
    background-color: $bgColor3;
    display: flex;
    flex-direction: column;
    height: 55rem;
}
#aboutTitle,
#techsTitle {
    font-size: 2.2em;
    margin: 2rem 0 2rem 0;
    text-align: justify;
    background-image: $gradient;
    background-clip: text;
    color: $transparent;
    font-weight: bold;
}

#techsTitle,
#aboutTitle {
    margin-left: 1rem;
}
#aboutText {
    width: 90%;
    margin-left: 1.2rem;
}
#about {
    width: 100%;
    color: #ffffff;
    font-family: $font1;
    text-align: justify;
}
#techsGridContainer {
    display: flex;
    justify-content: center;
}
#techsGrid {
    display: grid;
    grid-template-rows: 6rem 6rem 6rem 6rem;
    grid-template-columns: 10rem 10rem;
    row-gap: 2rem;
    column-gap: 1.2rem;
}
#techsGrid a {
    border-radius: $gridBorderRadius;
    border-image: $gradientWhite;
    border-width: 0.15rem;
    border-style: solid;
    background-color: $bgColor1;
    display: block;
    text-align: center;
    justify-content: center;
    color: rgb(204, 204, 204);
    font-size: 0.8rem;
    filter: brightness(50%);
}
#techsGrid a:visited,
#techsGrid a:link,
#techsGrid a:active {
    text-decoration: none;
}
#techsGrid a:hover {
    border-image: $gradient2;
    transition: 0.2s;
    filter: brightness(100%);
}
#techsGrid a img {
    object-fit: contain;
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}
